<div class="container" style="padding-top:60px;">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card-group">
        <div class="card p-4">
          <div class="card-body">
            <form name="form" #f="ngForm">
              <h1 style="text-align:center">Login</h1>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input type="text" name="userName" [(ngModel)]="userName" class="form-control" placeholder="Email"
                  required>
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input type="password" name="password" [(ngModel)]="password" class="form-control"
                  placeholder="Password">
              </div>
              <div>
                <p style="color:orange;font-size:15px;font-weight:normal" Class="success" align="left">
                  {{errorMessage}}
                </p>
              </div>
              <div class="row">
                <div class="col-6">
                    <p><a class="btn btn-primary" (click)="loginUser($event)">Login</a></p>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>